.gitignore

# R files (history etc)
*.RData
*.Rhistory
*.Rproj

# Example code in package build process
*-Ex.R
.Rproj.user


# Sweave related files
*.aux
*.bbl
*.blg
*.gz
*.log
*.sty
#*.tex

# Sweave cache related files
__globals
__objects
__packages
*.rdb
*.rdx

# Folders
DataManagement/reexceltipsandtricks/

# Other files
*.csv
*.doc
*.docx
*.gpx
*.html
# !*.nb.html
*.lnk
*.mediawiki
*.pdf
*.png
#*.jpg
*.svg
*.svn
*.swf
*.txt
# *.xls
# *.xlsx